{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/custom-css.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
            <button id="sidebar-toggle" class="navbar-button">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
            <span class="navbar-title">Voting</span>
            {% if user.is_superuser %}<span class="navbar-admin">/Admin</span>{% endif %}
            <div class="navbar-actions">
                <div class="profile">
                    <i class="fa-solid fa-circle-user icon"></i>
                    <span class="profile-username">{{ user.username }}</span>
                </div>
                <a title="Se déconnecter" href="/signout" class="logout">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
                    </svg>
                </a>
            </div>
    </nav>

    <!-- Sidebar -->
    <aside id="logo-sidebar" class="sidebar">
        <div class="sidebar-content">
            <ul class="sidebar-menu">
                {% if not user.is_superuser %}
                <li><a href="{% url 'listElections' %}" class="sidebar-item">List of elections</a></li>

                {% if is_candidate %}
                <li class="sidebar-dropdown">
                    <button class="sidebar-dropdown-button">Ajouter</button>
                    <ul class="sidebar-dropdown-menu">
                        <li><a href="{% url 'listCondidatures' %}" class="sidebar-item">List of condidatures</a></li>
                    </ul>
                </li>
                {% endif %}

                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'addElection' %}" class="sidebar-item">Add an election</a></li>
                <li><a href="{% url 'listUsers' %}" class="sidebar-item">List of users</a></li>
                <li><a href="{% url 'listElectionsAdmin' %}" class="sidebar-item">List of elections admin</a></li>
                {% endif %}
            </ul>
        </div>
    </aside>

    <!-- Content -->
    <div id="main-content">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
